/* Menu */
[qor-icon-name*="Tags"] > a::before {
  content: "\e9ef";
}
[qor-icon-name*="Collection"] > a::before {
  content: "\e2c8";
}
[qor-icon-name*="Images"] > a::before {
  content: "\e3c4";
}
[qor-icon-name*="Tariffs"] > a::before {
  content: "\e227";
}
[qor-icon-name*="Reviews"] > a::before {
  content: "\e0cb";
}
[qor-icon-name*="Clients"] > a::before {
  content: "\e7ff";
}
[qor-icon-name*="Admins"] > a::before {
  content: "\e0da";
}

/* Common */
th[data-heading*="ID"] {
  width: 50px;
}
th[data-heading*="IsEnabled"] {
  width: 80px;
}
td[data-heading*="Tags"] div {
  overflow: visible;
  font-size: 12px;
}
span.v-tag {
  border: #e0e1e2 1px solid;
  color: rgba(0,0,0,.54);
  border-radius: 2px;
  background-color: #f8f9fa;
  padding: 1px 4px;
  font-size: 12px;
  margin: 1px 6px 6px 0px;
  display: inline-block;
}


/* Tags */
td[data-heading*="Collections"] div {
  font-size: 12px;
}

/* Users */
th[data-heading*="Email"] {
  width: 200px;
}

/* Images */
p[data-heading*="Tags"] {
  margin-top: 10px;
}

/* Users */
td[data-heading*="Comment"] div {
  font-size: 12px;
}