# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.db
*.app

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

.air.toml

# Project
.vscode
.history
godepgraph.png
config/*.yml
common/config/yaml/*.yml
!common/config/yaml/config.dist.yml
!common/config/yaml/config.test.yml
public/system

tmp
logs/*
!logs/.gitkeep